######################################################################################################################################################

# @project        CesiumPy
# @file           .gitignore
# @license        Apache 2.0

######################################################################################################################################################

build/
dist/
*.pyc
test*.py
test*.html
*.egg-info

######################################################################################################################################################
