######################################################################################################################################################

# @project        CesiumPy
# @file           requirements.txt
# @license        Apache 2.0

######################################################################################################################################################

six
traitlets
geopy>=1.11.0

######################################################################################################################################################
